@font-face {
    font-family:'Unicode';
    src: "mon3.woff" format('woff'), "mon3.ttf" format('ttf');
}

html *
{    
    font-family: Unicode !important;
}

.mmtitle{
    font-family:Unicode;
    font-size: large;
}

.mmtext{
    font-family:Unicode;
    font-size: medium;
}

.mmnote{
    font-family:Unicode;
    font-size: small;
    text-align: right;
    padding-right: 10px;
}

.rcorners {
    border-radius: 25px;
    border: 2px solid #9fb3ff;
  }